.app {
  min-height: 100vh;
  background-color: var(--architectural-white);
  position: relative;
}

main {
  width: 100%;
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  section {
    padding: 60px 0;
  }
}
